@import '../../mixins';
@import '../../variables';

.Posts {
	width: 70%;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-top: 35px;

		& svg.loader {
			margin: 50px auto;
		}

		@include onMediumMobile {
			flex-direction: column;
		}
	}
}
