@import '../../mixins';
@import '../../variables';

.Posts {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 35px;

		& svg.loader {
			margin: 50px;
		}

		@include onMediumMobile {
			flex-direction: column;
		}
	}
}
