@import '../../variables';
@import '../../mixins';

.Logo {
	position: relative;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $second-color;

	@include onMobile {
		margin: 8px 14px 0;
		border-radius: 6px;
	}

	&__link {
		font-family: "Inter", sans-serif;
		font-size: 29.7px;
		line-height: 50px;
		font-weight: 500;
		color: #fff;
		transition: opacity 0.3s ease;

		@include onSmallMobile {
			font-size: 24px;
		}
	
		&:hover {
			opacity: 0.8;
		}
	}

	&__image {
		width: 181px;

		@include onMobile {
			width: 158px;
		}

		@include onSmallMobile {
			width: 126px;
		}
	}
}
