@import '../../mixins';
@import '../../variables';

.Navigation {
	padding: 0 14px;
	margin-top: 14px;
	display: flex;
	align-items: center;
	height: 62px;
	transition: transform 0.25s ease-out;
	z-index: 10;

	@include onMobile {
		position: fixed;
		align-items: start;
		margin: 0;
		left: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		width: 260px;
		transform: translateX(-200%);
		display: block;

		&.show {
			transform: translateX(0);
		}
	}

	&__list {
		display: flex;
		justify-content: flex-start;
		gap: 18px;

		@include onMobile {
			margin-top: 20px;
			flex-direction: column;
			gap: 0;
		}
	}

	&__item {
		&:first-child {
			display: none;

			@include onMobile {
				display: block;
				width: 80%;
			}
		}

		& a {
			padding: 7px 26px;
			border-radius: 5px;
			display: block;
			color: $white-color;
			transition: color, opacity, 0.2s ease;

			&:hover {
				background-color: $third-color;
			}

			@include onMobile {
				padding: 10px 15px;
				font-family: $notosans-font;
				font-size: 18px;

				&:hover {
					background-color: transparent;
				}
			}

			&.active {
				background-color: $third-color;

				@include onMobile {
					background-color: $main-color;
				}
			}

			& span {
				transition: all 0.2s ease;
			}

				@include onMobile {
					color: $white-color;

					&:hover span {
						display: block;
						transform: translateX(5px);
				}
			}
		}

		&.posts:hover > .Navigation__drop-list {
			transform: translateY(0) scaleZ(1);
			opacity: 1;
		}
	}

	&__drop-list {
		position: absolute;
		margin: 10px 0 0;
		border: 1px solid #3B4151;
		transition: all 0.2s ease-in;
		transform: translateY(-10px) scaleZ(0);
		opacity: 0;
		z-index: 2;

		@include onMobile {
			border: none;
			width: 90%;
		}
	}

	&__drop-item {
		& a {
			padding: 12px 26px;

			&:hover {
				background-color: transparent;
			}

			& span {
				transition: all 0.2s ease-in;
			}

			&:hover span {
				display: block;
				transform: translateX(5px);
			}
			&.drop-active {
				background-color: $main-color;
				color: $third-color;

				@include onMobile {
					color: $white-color;
				}
			}				
		}
	}

	&__toggle {
		position: absolute;
		width: 20px;
		height: 20px;
		cursor: pointer;
		visibility: hidden;

		@include onMobile {
			visibility: visible;
		}

		&.open {
			top: 29px;
			left: 34px;
			background-image: url(../../assets/images/menu-icon.svg);
		}

		&.close {
			top: 30px;
			right: 14px;

			&:hover::after {
				color: $white-color;
			}

			&::after {
				display: block;
				font-size: 36px;
				height: 30px;
				width: 30px;
				color: $third-color;
				content: "\00d7";
				transition: color 0.2s ease;
			}
		}
	}
}
