@import '../../mixins';
@import '../../variables';

.PostMiniCard {
	& a {
		display: flex;
		gap: 22px;

		&:hover h4 {
			color: $third-color;
		}
	}

	&__image {
		width: 107px;
		height: 76px;
		object-fit: cover;
		border-radius: 6px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 15px;
		line-height: 23px;
	}

	&__title {
		font-weight: 600;
		color: $white-color;
		transition: color 0.2s ease;
	}

	&__date {
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
		color: $grey-color;
	}
}
