@import '../../mixins';
@import '../../variables';

.Sidebar {
	width: 30%;
	padding: 35px 0 0;

	@include onSmall {
		width: 100%;
	}

	&__block {
		margin-bottom: 35px;

		&:first-child {
			font-family: $notosans-font;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 13px;
		line-height: 25px;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		color: $grey-color;
		margin-bottom: 12px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	&__item {
		& a {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 20.1429px;
			line-height: 30px;
			color: $white-color;

			&:hover {
				color: $grey-color;
			}

			& div {
				margin-right: 15px;
				border-radius: 5.7551px;
				padding: 10px;
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 22px;
					height: 22px;
				}

				&.unblinked_news {
					background: rgba(115, 103, 240, 0.12);

					& svg * {
						fill: $third-color;
					}
				}

				&.bitcoin_wiki {
					background: rgba(40, 199, 111, 0.12);

					& svg * {
						fill: #28C76F;
					}
				}

				&.crypto_wiki {
					background: rgba(234, 84, 85, 0.12);

					& svg * {
						fill: #EA5455;
					}
				}

				&.traders_guide {
					background: rgba(0, 207, 232, 0.12);

					& svg * {
						fill: #00CFE8;
					}
				}

				&.trending {
					background: rgba(255, 159, 67, 0.12);

					& svg * {
						fill: #FF9F43;
					}
				}
			}
		}
	}
}
