@import '../../mixins';
@import '../../variables';

.Post {
	width: 70%;
	height: max-content;
	margin-top: 35px;
	margin-bottom: 200px;
	
	@include onSmall {
		width: 100%;
		margin-bottom: 100px;
	}

	&__category {
		margin-bottom: 18px !important;
	}

	&__title {
		margin-bottom: 17px;
	}

	&__content {
		padding: 36px 30px 24px;
	}

	& img {
		width: 100%;
		max-height: 200px;
		object-fit: cover;
		border-radius: 6px 6px 0 0;
	}

	&__read {

		& span span {
			margin-right: 20px;
		}

		& span svg {
			margin-right: 10px;
			width: 27px;
			height: 22px;

			& * {
				fill: $white-color;
			}
		}

		& a svg * {
			fill: $white-color;

			&:hover {
				fill: $third-color
			}
		}
	}
}
