@mixin onSmallMobile {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin onMediumMobile {
  @media (max-width: 536px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin onSmall {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin onMedium {
  @media (max-width: 1190px) {
    @content;
  }
}
