$main-color: #191E30;
$dark-main-color: #171D2F; 
$second-color: #2A3044;
$third-color: #7367F0;
$white-color: #f4f4f4;
$grey-color: #B9B9C3;

$unblinked-category: #A6B8D0;
$unblinked-bg-category: rgba(166, 184, 208, 0.12);

$bitcoin-category: #C0D724;
$bitcoin-bg-category: rgba(192, 215, 36, 0.12);

$ethereum-category: #CD96AE;
$ethereum-bg-category: rgba(205, 150, 174, 0.12);

$binance-category: #E4445E;
$binance-bg-category: rgba(234, 84, 85, 0.12);	

$altcoin-category: #80C844;
$altcoin-bg-category: rgba(128, 200, 68, 0.12);

// $-category: #0F4C81;
// $-bg-category: rgba(15, 76, 129, 0.12);

// $-category: #F16B5C;
// $-bg-category: rgba(241, 107, 92, 0.12);

$montserrant-font: "Montserrat", sans-serif;
$notosans-font: "Noto Sans", sans-serif;
$inter-fonts: "Inter", sans-serif;
