$main-color: #191E30;
$dark-main-color: #171D2F; 
$second-color: #2A3044;
$third-color: #7367F0;
$white-color: #f4f4f4;
$grey-color: #B9B9C3;

$montserrant-font: "Montserrat", sans-serif;
$notosans-font: "Noto Sans", sans-serif;
$inter-fonts: "Inter", sans-serif;
