@import './variables';
@import './mixins';

.App {

	&__content {
		display: flex;
		gap: 45px;	
		
		@include onSmall {
			flex-direction: column;
		}

		&.flex-reverse {
			@include onSmall {
				flex-direction: column-reverse;
			}
		}
	}
}
